.banner {
  z-index: 100;
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 80%;
  max-width: 1200px;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.waitlist-content {
  flex: 1;
  padding-left: 20px;
}

.waitlist-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  display: block;
  margin-bottom: 15px;
}

.waitlist-button {
  font-size: 1.5rem;
  line-height: 2.6rem;
  display: inline-block;
}

/* Media Queries */
@media (max-width: 1240px) {
  .banner-content {
    flex-direction: column;
    text-align: center;
  }
  
  .banner-image, .waitlist-content {
    flex: none;
    width: 100%;
  }
  
  .banner-image {
    justify-content: center;
  }
  
  .waitlist-content {
    padding-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    padding: 60px 0;
  }
  
  .waitlist-heading {
    font-size: 1.6rem;
  }
  
  .waitlist-button {
    font-size: 1.2rem;
  }
}