.circle {
  width: 16px;
  height: 16px;
  background-color: $black;
  // border-radius: 100%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
}

::selection {
  background: rgba($pinkhard, 0.8);
  color: $white;
}
